<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/ead</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <mapping class="EntityModels.AdminEntity"/>
        <mapping class="EntityModels.CityEntity"/>
        <mapping class="EntityModels.ContactUsEntity"/>
        <mapping class="EntityModels.CountryEntity"/>
        <mapping class="EntityModels.JobSkillsRequiredEntity"/>
        <mapping class="EntityModels.JobEntity"/>
        <mapping class="EntityModels.QualificationEntity"/>
        <mapping class="EntityModels.RatingEntity"/>
        <mapping class="EntityModels.SkillEntity"/>
        <mapping class="EntityModels.UserAppliesJobEntity"/>
        <mapping class="EntityModels.UserEducationEntity"/>
        <mapping class="EntityModels.UserExperienceEntity"/>
        <mapping class="EntityModels.UserPhonenoEntity"/>
        <mapping class="EntityModels.UserSkillsEntity"/>
        <mapping class="EntityModels.UserEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>